.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.signUp {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: 180px;
    border: solid black 2px;
}

.game {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid black 2px;
}

.game_btn {
    height: 60px;
    width: 90px;
    margin: 10px;
    background: transparent;
    border-radius: 5px;
    font-size: 30px;
}

.game_btn:hover {
    cursor: pointer;
    background: rgb(180, 168, 166);
}

.game_btn:active {
    background: rgb(255, 183, 107);
}

.game_btn-answer {
    width: 150px;
}

.startgame_btn {
    width: 120px;
}

.startgame {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: solid black 2px;
}
